<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .requestedUsername }}</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
    </head>
    <body>
        <header>
            {{ template "navbar.html" . }}
        </header>
        <main>
            <h1 id="profile-heading">{{ .requestedUsername }}</h1>

            {{ if .isLoggedIn }}
                {{ if eq .username .requestedUsername }}
                    <form id="post-form" method="POST" action="/profile/{{ .requestedUsername }}/create-post">
                        <textarea id="post-form-input" name="post-form-input" required></textarea>
                        <button type="submit" id="form-button">Post</button>
                    </form>
                {{ else }}
                    <p class="post-paragraphs">You can only post on your own profile.</p>
                {{ end }}
            {{ else }}
                <p class="post-paragraphs">You must be logged in to create a post.</p>
            {{ end }}

            <h2 id="posts-heading">Posts</h2>
            <ul>
                {{ range .posts }}
                    <li id="posts">
                        {{ .Content }} - <i>{{ .CreatedAt.Format "Posted on Monday, January 2nd, 2006 at 3:04 PM" }}</i>
                    </li>
                {{ end }}
            </ul>
        </main>
    </body>
</html>
